absl-py==0.12.0
alembic==1.5.6
altgraph==0.17
appdirs==1.4.4
astunparse==1.6.3
attrs==19.3.0
autoenv==1.0.0
backcall==0.2.0
bleach==3.1.5
branca==0.4.2
cachetools==4.2.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
flatbuffers==1.12
folium==0.12.1
future==0.18.2
gast==0.3.3
geojson==2.5.0
geojson-utils==0.0.2
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googlemaps==4.4.5
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
Keras-Preprocessing==1.1.2
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.6.2
notebook==6.0.3
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.2.0
pipreqs==0.4.10
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.15.5
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
Pygments==2.6.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyparsing==2.4.7
pyproj==3.0.1
pyrsistent==0.16.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
regex==2021.4.4
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.6.2
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
SQLAlchemy==1.3.23
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.60.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.9
virtualenv==20.0.25
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarg==0.1.9
