{% extends "base-layout.html" %}
{% block title %} Restaurant - Where to Open Your Next One {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block container %}
<div class="row bs-callout">
     <div class="row">
        <div class="col-md-12">  
            <h2 class="text-center">Grid of candidate areas, equaly spaced For<br><br><strong> {{ city }}<br>{{ type }}</strong></h2>
        </div> 
    </div>
    <div class="row bs-callout">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ url_for('static', filename=neighMap) }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row  bs-callout">
        <div class="col-md-2 style="background-color:white""></div>
        <div class="col-md-8" style="background-color:white">
        <h2 class='h2'>10 candidate addresses of a total {{ totalNeighs }} candidates</h2>
        {{ location_table|safe }}
        </div>
        <div class="col-md-2" style="background-color:white"></div>
    </div>
    <div class="row  bs-callout">
        <div class="col-md-2 style="background-color:white""></div>
        <div class="col-md-8" style="background-color:white">
            <a href="{{ url_for('restaddresses') }}">
               <button class="button">Step 2: Get Restaurants Information </button></a>
        </div>
        <div class="col-md-2" style="background-color:white"></div>
    </div>
</div>
{% endblock %}

<!-- {{ url_for('neighmap', neighfile=neighMap) }}  -->