{% extends "base-layout.html" %}
{% block title %} Home {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block container %}

<section class="container">
<div class="row">
    <div style="background-color: rgba(0, 0, 0, 0.04); background-image: none; margin-left: 0px;" class=" news-box" id="w1613">
        <div style="padding: 0px;" class=" flip-card" id="w1614">
            <div class=" flip-card-inner" id="w1615">
                <div class=" flip-card-front" id="w1616">
                    <img id="w1617" style="height: 270px;" alt="123" src="{{ url_for('static', filename='images/restaurant.jpeg') }}" class=" img-responsive" width="394" height="270">
                    <div class=" div-report" id="w1618"><p class=" news-box-date" id="w1619">WHERE TO BUILD YOUR NEXT RESTAURANT</p></div>
                </div>
                <div class=" flip-card-back" id="w1620">
                    <h2 class=" flip-head" style="color:white;"  id="w1682"><i class="fas fa-utensils"></i>&nbsp;Restaurant</h2>
                    <p style="margin-top: 10px; font-size: 15px; color:white;" id="w1622">
                        Select where to open you next restaurant. You can select a city from the USA and the type(italian, afircan, chineses, etc.) of restaurant you would like to open. It walks you through the various steps</p>
                        
                        <a href="{{ url_for('restaurant_home') }}" class=" news-box-read-more" id="w1623">See a sample report here...</a>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.04); background-image: none;" class=" news-box" id="w1674">
        <div style="padding: 0px;" class=" flip-card" id="w1675">
            <div class=" flip-card-inner" id="w1676">
                <div class=" flip-card-front" id="w1677">
                    <img id="w1678" style="height: 270px;" alt="Leadership Quality" src="{{ url_for('static', filename='images/sixdegrees.jpeg') }}" class=" img-responsive" width="394" height="270">
                    <div class=" div-report" id="w1679"><p class=" news-box-date" id="w1680">SIX DEGREES OF SEPARATION</p>
                    </div>
                </div>
                <div class=" flip-card-back" id="w1681">
                   <img id="w1678" style="height: 270px;" alt="Leadership Quality" src="{{ url_for('comingsoon') }}" class=" img-responsive" width="394" height="270">
                    
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.04); background-image: none;" class=" news-box" id="w1674">
        <div style="padding: 0px;" class=" flip-card" id="w1675">
            <div class=" flip-card-inner" id="w1676">
                <div class=" flip-card-front" id="w1677">
                    <img id="w1678" style="height: 270px;" alt="Leadership Quality" src="{{ url_for('static', filename='images/art.jpg') }}" class=" img-responsive" width="394" height="270">
                    <div class=" div-report" id="w1679"><p class=" news-box-date" id="w1680">RENDER IMAGE IN A ARTISTIC STYLE</p>
                    </div>
                </div>
                <div class=" flip-card-back" id="w1681">
                     <img id="w1678" style="height: 270px;" alt="Leadership Quality" src="{{ url_for('comingsoon') }}" class=" img-responsive" width="394" height="270">
                </div>
            </div>
        </div>
     </div>
</div>
<div class="row" style="padding-top: 15px;">
   <div style="background-color: rgba(0, 0, 0, 0.04); background-image: none; margin-left: 0px;" class=" news-box" id="w1613">
        <div style="padding: 0px;" class=" flip-card" id="w1614">
            <div class=" flip-card-inner" id="w1615">
                <div class=" flip-card-front" id="w1616">
                    <img id="w1617" style="height: 270px;" alt="123" src="{{ url_for('static', filename='images/question.jpeg') }}" class=" img-responsive" width="394" height="270">
                    <div class=" div-report" id="w1618"><p class=" news-box-date" id="w1619">FUTURE IDEAS</p></div>
                </div>
                <div class=" flip-card-back" id="w1620">
                    <h2 class=" flip-head" style="color:white;" id="w1682"><i class="fas fa-question-circle"></i></i>&nbsp;Future Ideas</h2>
                    <p style="margin-top: 10px; font-size: 15px; color:white;" id="w1622">
                        Comtemplating ideas in ML/AI to explore</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

    
    
{% endblock %}